@use "../styles/variables" as *;

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(to bottom, $zinc-50, $zinc-100);
  font-family: system-ui, -apple-system, sans-serif;
}

@media (prefers-color-scheme: dark) {
  .container {
    background: linear-gradient(to bottom, $zinc-900, $zinc-950);
  }
}
